/* AboutPage.css */
/* .about-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .about-heading {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 30px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  .about-section {
    margin-bottom: 30px;
  }
  
  .about-section h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .text12{
   
  }
  
  .about-section p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  
  .about-section ul {
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .about-section li {
    font-size: 1.1rem;
    line-height: 1.6;
  }
   */

   /* .apage{
    background-color: #FF6922;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
} */